.data-container {
    color: white;
    background-image: url(../../public/clear.jpg);
    background-size: cover;
    padding: 50px 250px;
    height: 800px;
}
.temp {
    font-size: 100px;
}
.space {
    height: 75px;
}